<html ng-app="main">

<head>
    <link href="/shelter-helper/res/css/materialize.min.css" rel="stylesheet" />
    <title>Shelter Helper</title>
    <style>
        #map {
            height: 70vh;
            width: 100%;
        }

        nav {
            margin-bottom: 5vh;
        }

        .clickable-row:hover {
            background-color:rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body ng-controller="MainCtrl">
    <nav class="blue">
        <div class="nav-wrapper">
            <span class="left" ng-show="loggedIn" style="margin-left: 2vw">Hi, {{name}}</span>
            <a href="/shelter-helper/" class="brand-logo center">Shelter Helper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/shelter-helper/index.html">Home</a>
                </li>
                <li>
                    <a href="/shelter-helper/register.html">Register</a>
                </li>
                <li>
                    <a href="/shelter-helper/login.html">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-show="loggedIn">
        <div class="row">
            <div class="col s12 l10 offset-l1">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l10 offset-l1">
                <h3 class="center">Select Shelters</h3>
                <form action="#">
                    <table style="width:100%">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Spots Remaining</th>
                            <th>Restrictions</th>
                            <th>Show</th>
                            <th>Reserve</th>
                        </tr>
                        <tr class="clickable-row" ng-repeat="shelter in shelters">
                            <td ng-click="alert('hi')">{{shelter.name}}</td>
                            <td ng-click="alert('hi')">{{shelter.address}}</td>
                            <td ng-click="alert('hi')">{{shelter.capacity}}</td>
                            <td ng-click="alert('hi')">{{shelter.restrictions}}</td>
                            <td>
                                <label>
                                        <input type="checkbox" class="center" ng-click="toggleShelter(shelter)"/>
                                        <span></span>
                                </label>
                            </td>
                            <td><button class="btn" ng-show="shelter.name == reservedAt" ng-click="releaseShelter(shelter)">
                                Release
                                </button>
                                <button class="btn" ng-show="numReserved == 0" ng-click="reserveShelter(shelter)">
                                    Reserve
                                    </button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="loggedIn">
        <h2 class="center">Welcome! Please sign in or register.</h2>
    </div>


    
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="/shelter-helper/res/js/jquery.min.js"></script>
    <script src="/shelter-helper/res/js/angular.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnjAn2vwHs-2YFfrUo_b7_s-68SxcyR4E&callback=initMap"></script>
    <script src="/shelter-helper/res/js/app.js"></script>
    <script>
        var map;
        function initMap() {
            var citycenter = {name:"Atlanta", lat: 33.7490, lng: -84.387314 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: citycenter
            });
            var marker = new google.maps.Marker({
                position: citycenter,
                label: citycenter.name,
                map: map
            });
        }
    </script>
</body>

</html>